body {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10% 10% 25% 30% 25%;
    height: 100vh;
    width: 100vw;
    margin: auto;

}
/* .image {
    grid-column: 1/2;
    grid-row: 1/3;
    border: 1px solid black;
} */
.right-container {
    grid-column: 2/3;
    grid-row: 1/-1;
    display: grid;
    grid-template-rows: 10% 10% 25% 30% 25%;
    height: 100%;
    padding: 20px;
    /* color: blue; */
    border: 2px solid blue
}
.left-container {
    grid-column: 1/2;
    grid-row: 1/-1;
   
    display: grid;
    grid-template-rows: 10% 10% 25% 30% 25%;
}
.image {
    text-align: center;
}
.title {
    grid-row: 1/3;
    text-align: center;
    
}
.expertise {
    grid-row: 3/4;
   
}
.history {
    grid-row: 4/5;
   
}
.edu {
    grid-row: 5/-1;
    
}
.info {
    grid-row: 3/-1;
    align-items: center;
    justify-items: center;
    text-align: center; 
    background-color: blue;  
}

li {
    margin: 10px;
}

ul {
    list-style: none;
}
hr {
    color: blue;
}
img {
    max-width: fit-content;
}